.container-let {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}
    /* Table styling */
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    th {
        background-color: rgb(82, 187, 122);
        color: #000000;
    }

    td {
        color: black;
    }

    .nekci {
        color: black;
        text-align: justify;
    }

    .sixit {
        color: brown;
    }
    