.section-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sector-title {
    font-size: 24px;
    font-weight: bold;
    color: #db7a0a;
    margin-bottom: 10px;
}

.section-content {
    font-size: 16px;
    color: #000000;
    text-align: justify;
}

        /* Label styling */
        .label {
            background-color: #007bff; /* Blue color for label */
            color: #fff; /* White text color for label */
            padding: 5px 10px; /* Padding inside the label */
            border-radius: 5px 5px 0 0; /* Rounded corners on top */
        }

        /* Content styling */
        .content {
            padding: 10px; /* Padding inside the content */
        }